html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/bbs.css')
    script(src="https://code.jquery.com/jquery-3.5.0.js")
    title= title      
  body
    .container
      h2 Bulletin Board
      table.table.table-striped
        thead#thead
          tr
            th no.
            th 제목
            th 작성자
            th 조회수
            th 작성일
        tbody#tableBody
        each post in posts
          tr
            td= post.ID
            td= post.TITLE
            td= post.WRITER
            td= post.VIEWS
            td= post.CREATED_AT
      button.btn.btn-primary#bbbb test
      p#demo 
      

  script(src='/boardList.js')
      
