doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/bbs.css')
    title= title
  body
    .outer
      br
      h1(align='center') 게시판상세보기
      br
      table.table-area(align='center' border='1')
        tbody
        each detail in details
          tr
            td(width='100') 글번호
            td(width='500')= detail.ID
          tr
            td 제목
            td= detail.TITLE
          tr
            td 작성자
            td= detail.WRITER
          tr
            td 조회수
            td= detail.VIEWS
          tr
            td 작성일
            td= detail.CREATED_AT
          tr
            td 내용
            td
              p(style='height: 100px')= detail.CONTENT
      br
      table.table-area(align='center' border='1')
        tbody
          tr
            th(width='100') 댓글작성
            td(width='400')
              textarea(rows='3' style='resize: none')
            th(width='100')
              button 등록
          tr
            td(colspan='3')
              b 댓글(3)
          tr
            td admin
            td zzzzzz 잼
            td 2020-10-20
          tr
            td admin
            td zzzzzz 잼
            td 2020-10-20
          tr
            td admin
            td zzzzzz 잼
            td 2020-10-20
      br
      br
